header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/**Navigation Bar as a whole**/
.navigation{
    background-color: #555;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

/**Just for the links in the navigation bar**/
nav a{
    color: beige;
    text-decoration: none;
    padding: 0 20px;
}

#main-section{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    background-color: beige;
}

.containers{
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: darkgray;
}

footer{
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
}